body{
  font-family:Tahoma;
  font-size:110%;
  background-color: #ffffff;
}

header {
  text-align: center;
  padding: 2%;
  background-color: #81e1f2c9;
  color: #ffffff;
}

#heading {
  font-family: serif;
}

.section {
  padding: 1em;
}

#education {
  background-color: aliceblue;
  padding: 1%;
}

.qualification  {
  padding: 2%;
}

.job  {
  padding:2%
}

.skillsclass  {
  padding: 2%;
}

#experience {
  background-color: aliceblue;
  padding: 1%;
}

#skills {
  background-color: aliceblue;
  padding: 1%;
}

.nav-menu{
  list-style-type: none;
}

footer {
  background-color: #343330;
  text-align: center;
  padding: 1em;
}
