body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 2rem;
}

header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 2%;
  background-color:#343330;
  color: #ffffff;
}

#profilepicture {
  border-radius: 50%;
}

.sidebar {
  width: 20%;
  padding: 1rem;
  background-color:darkgray;
  color: black;
}

.nav-menu {
  list-style-type: none;
  padding: 1rem;
  color: aquamarine;
}

.qualification  {
  padding: 1rem;
}

.job  {
  padding: 1rem;
}

footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #343330;
  text-align: center;
  padding: 1em;
  color: #ffffff;
}

.icons  {
  width: 2rem;
  height: auto;
  Margin: 0.5rem;
}